<form 
[formGroup]="warehouseForm"
(ngSubmit) ="onSubmit()"
>
  
<div>
  <h2>Φόρμα Καταχώρησης Αποθήκης</h2>
</div>

  <!-- φορμα για id της Αποθήκης -->
<div class="p-formgroup-inline">
  <div class="p-field">
    <input 
    id="id_warehouse" 
    type="text" 
    pInputText 
    formControlName="id_warehouse"
    [class.is-invalid] = "warehouseForm.get('id_warehouse').invalid && warehouseForm.get('id_warehouse').touched"
    placeholder="ID Αποθήκης"
    >
  </div>

  <!-- φορμα για περιγραφή της Αποθήκης -->
  <div class="p-field">
    <input 
    id="description" 
    type="text" 
    pInputText 
    formControlName="description_warehouse"
    [class.is-invalid] = "warehouseForm.get('description_warehouse').invalid && warehouseForm.get('description_warehouse').touched"
    placeholder="Περιγραφή Αποθήκης"
    >
  </div>

<button
[disabled]='!warehouseForm.valid'
pButton 
type="submit" 
label="Δημιουργία Αποθήκης" 
class="p-button-success"></button>

<button 
(ngSubmit)="onReset()"
pButton 
type="reset" 
label="Καθαρισμός Πεδίων" 
class="p-button-danger"></button>

  <!-- ΚΟΥΜΠΙ ΟΔΗΓΙΩΝ -->
  <button class="p-button-info" pButton label="Πληροφορίες" (click)="displayEditDialog = true">
  </button>



</div>
</form>


<!-- alert messages -->
<div *ngIf="warehouseForm.get('id_warehouse').invalid && warehouseForm.get('id_warehouse').touched">
  <small>*Παρακαλώ συμπληρώστε το <strong>id</strong> Αποθήκης</small>
  <br>
  <small>*Δεν μπορείτε να χρησιμοποιήσετε <strong>κενά</strong> ή <strong>αλφαριθμητικά</strong> σαν ID.</small>
</div>

<div *ngIf="warehouseForm.get('description_warehouse').invalid && warehouseForm.get('description_warehouse').touched">
  <small 
  *ngIf="warehouseForm.get('description_warehouse').errors?.required"
  >*Παρακαλώ συμπληρώστε το <strong>description</strong> Αποθήκης
</small >
<br>
  <small 
  *ngIf="warehouseForm.get('description_warehouse').errors?.minlength"
  >*Παρακαλώ συμπληρώστε τουλάχιστον <strong>5 ψηφία</strong>
</small>
</div>


<!-- Filter/ Search -->
  <div class="topnav">
    <input 
    type="text" 
    [(ngModel)]="searchText"
    placeholder="Aναζήτηση">
  </div>
<!-- τραπεζι για να το view των αποθηκων -->
 <table #dt class="content-table">
  <thead>
    <tr>
      <th>ID Αποθήκης</th>
      <th>Περιγραφή Αποθήκης</th>
      <th class="th-middle-for-form">Επεξεργασία</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let wl of warehouseList|searchFilter:searchText">
      
      <td>{{wl.id_warehouse }}</td>
      <td>{{wl.description_warehouse }}</td>
      <td>
        <button pButton 
        type="button" 
        label="Επεξεργασία" 
        icon="pi pi-bars" 
        class='viewButton-edit'
          (click)="showSomething(wl.id_warehouse)"></button>
          <button 
          pButton 
          type="button" 
          label="Διαγραφή" icon="pi pi-times-circle" class='viewButton-delete'
            (click)="deleteWarehouse(wl)"></button>
      </td>
    </tr>
  </tbody>
</table> 


<hr>
<button type="button" (click)="showWarehouse()" pButton icon="pi pi-info-circle" label="Αποθήκες">
</button>

<button type="button" (click)="showShelve()" pButton icon="pi pi-info-circle" label="Ράφια">
</button>

<button type="button" (click)="showProduct()" pButton icon="pi pi-info-circle" label="Προΐόντα">
</button>

<button type="button" (click)="showmanagement()" pButton icon="pi pi-info-circle" label="Φόρμα Εγγραφής">
</button>




<p-dialog [(visible)]="display">
  <ng-template pTemplate="header">
    Header content here
  </ng-template>
  Content
  <ng-template pTemplate="footer">
    //buttons
  </ng-template>
</p-dialog>


<!-- κειμενο για το κουμπι των οδηγιων -->
<p-dialog header="Φόρμα εγγραφής" [modal]="true" [(visible)]="displayEditDialog">
  <div>
    <h3>Lorem ipsum dolor sit amet.</h3>
    <ul>
      <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam quam nam, quibusdam expedita quasi officia
        dignissimos dicta? Dolore quod deserunt pariatur officia mollitia unde aspernatur necessitatibus, vero facere
        accusamus voluptas.</li>
    </ul>
  </div>
</p-dialog>


