button{
  margin-left: 2px;
  border-radius: 12px;
}

.viewButton-delete{
  margin-right: 1px;
  margin-bottom: 1px;
  background-color: #DC143C;
}

.viewButton-delete:hover{
  background-color: salmon;
}

.viewButton-edit{
  margin-right: 1px;
  margin-bottom: 1px;
  background-color: #483d8b;
}

.viewButton-edit:hover{
  background-color: blue;
}


.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #eee;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.content-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

.th-middle-for-form{
  text-align: center;
}



.topnav input[type=text] {
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 15px;
}


